- 

    const SOCIALS = [
        {
            url: '#',
            icon: 'icon-fb.svg',
            alt: 'facebook tolko',
        },
        {
            url: '#',
            icon: 'icon-tw.svg',
            alt: 'twitter tolko',
        },
        {
            url: '#',
            icon: 'icon-ig.svg',
            alt: 'instagram tolko'
        },
        {
            url: '#',
            icon: 'icon-in.svg',
            alt: 'likedin tolko'
        },
    ]