- 

    const SOCIALS = [
        {
            url: 'https://www.facebook.com/tolkogroup/',
            icon: 'icon-fb.svg',
            alt: 'facebook tolko',
        },
        {
            url: 'https://twitter.com/TolkoGroup',
            icon: 'icon-tw.svg',
            alt: 'twitter tolko',
        },
        {
            url: 'https://www.instagram.com/grupo_tolko/',
            icon: 'icon-ig.svg',
            alt: 'instagram tolko'
        },
        {
            url: 'https://www.linkedin.com/company/tolko/?viewAsMember=true',
            icon: 'icon-in.svg',
            alt: 'likedin tolko'
        },
        {
            url: 'https://www.instagram.com/grupo_tolko/',
            icon: 'icon-ig.svg',
            alt: 'instagram tolko',
        },
    ]