- 
    
    let imagePath = 'img/'

    const CARDS = [
        {
            image: 'mampara-oficina.jpg',
            title: 'Oficinas',
            description: 'Mampara de acrílico de 3 mm de espesor, con base de acrílico, para colocarse sobre escritorios compartidos o en estaciones de trabajo como recepciones de corporativos.',
        },
        {
            image: 'mampara-exterior.jpg',
            title: 'Restaurantes',
            description: 'Pedestal de metal de 80 cm de altura, con acrílico de 3, 6 o 12 mm de espesor, para separación de mesas o espacios de convivencia.',
        },
    ]