.form {
    // max-width: 50rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--sm);

    & * {
        color: var(--text);
        font-size: var(--body);
    }

    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__fieldset {
        display: grid;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: var(--sm);
        padding: var(--sm);

        @media only screen and (min-width: 568px) {
            
            &:first-child,
            &:nth-child(4) {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }

    &__legend {
        font-size: var(--small);
        margin-left: -1rem;
        padding-right: 0.8rem;
        padding-left: 1rem;
    }

    &__label {
        display: block;
        margin-bottom: var(--sm);

        &:last-child {
            margin-bottom: 0;
        }
        
        & > span {
            display: block;
            margin-bottom: var(--xs);
        }
    }

    &__input {
        background-color: transparent;
        border: 0.1rem solid currentColor;
        border-radius: var(--lg);
        padding: 1.2rem var(--sm);
        width: 100%;
        transition: border-color 0.3s ease-in-out,
                    border-width 0.3s ease-in;

        &:last-child {
            margin-bottom: 0;
        }

        &:focus {
            border-color: var(--first);
            border-width: 0.1rem;
            transition: border-color 0.3s ease-in-out,
                        border-width 0.3s ease-in-out;
            outline: none;
        }

        &:placeholder-shown {
            font-size: var(--body);
        }
    }

    &__label-radio {
        display: block;
        margin-bottom: var(--xs);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__radio {
        margin-right: var(--xs);
    }

    &__textarea {
        border-radius: var(--sm);
        width: 100%;
        height: 12rem;
        min-width: 100%;
        max-width: 0;
        min-height: 12rem;
        max-height: 12rem;
    }

    &__button {
        cursor: pointer;
        color: var(--text-alt);
        background-color: var(--text);
        border-color: var(--text);
        text-align: center;
        transition: color 0.3s ease-in-out,
                    background-color 0.3s ease-in-out,
                    border-color 0.3s ease-in;

        @media only screen and (min-width: 568px) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        
        &:hover {
            color: var(--text-alt);
            background-color: var(--first);
            border-color: var(--first);
        }
    }
}