footer.__row.footer
    .__column
        h1.footer__heading Déjate envolver por TOLKO
    .__column.footer__wrap
        .footer__item
            .footer__box.footer__logo
                a(href="http://www.tolkogroup.com/", target="_blank"): img(src="img/logo-tolko.svg", alt="tolko") 
                h2.footer__slogan somos únicos
        .footer__item
            .footer__box
                h2.footer__title Escríbenos
                a(href="#" class="footer__datos") contacto@tolkogroup.com
        .footer__item
            .footer__box
                h2.footer__title Visítanos
                p.footer__datos Cerrada de Tecamachalco #39,<br>Reforma Soc,<br>C. P. 11650,<br>Miguel Hidalgo,<br>CDMX
        .footer__item
            .footer__box
                h2.footer__title Llámanos
                a(href="#" class="footer__datos") 55 6726 0645
        .footer__item.footer__socials
            .footer__box
                h2.footer__title Síguenos
                include socials