form(method="post", action="scripts/send-form.php", class="form",)
    input(type="text", name="firstname", placeholder="Nombre *", required, class="form__input")
    input(type="text", name="lastname", placeholder="Apellido *", required, class="form__input")
    input(type="email", name="email", placeholder="E-mail *", required, class="form__input")
    input(type="tel", name="telphone", placeholder="Teléfono *", required, class="form__input")
    input(type="text", name="bulkhead", placeholder="Mampara de interés", class="form__input")
    input(type="text", name="business", placeholder="Tipo de negocio", class="form__input")
    textarea(placeholder="Comentarios", name="comments", class="form__input form__textarea")
    input(type="submit", value="Enviar", class="form__input form__button")