include ../config/conf_cards
include ../config/conf_socials

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mamparas para espacios públicos - Tolko
        link(href="fonts/tolko.css", rel="stylesheet")
        link(href="css/styles.css?=200520:2213", rel="stylesheet")
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167319716-1"></script>
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-167319716-1');
    body

        .hero-background

        include ../components/header


        .__row
            .__column.main__container
                .main__wrap.main__heading
                    p.text-alt.display-two.regular Prepara tu oficina o restaurante para la nueva normalidad con
                    p.text-alt.display-one.bold Mamparas de acrílico
                    p.text-alt.caption.light Como medida de protección de la salud ante el regreso paulatino a actividades, una medida de protección es la colocación de mamparas de acrílico para separar espacios físicos de encuentro. Por ello, hemos desarrollado alternativas para nuestros clientes.
                .main__wrap.main__cards
                    include ../components/card 
                .main__wrap.main__subheading
                    p.display-one.bold.stroke ¡Ponles tu sello!
                    p.text.caption.light Las mamparas podrán ir lisas o llevar la identidad de la empresa en vinil (aplicaciones a personalizar, con adaptación de costos en distintas alternativas).
                .main__wrap.main__form
                    p.text.title.medium Solicita tu cotización o más información:
                    include ../components/form

        include ../components/footer