include ../config/conf_cards
include ../config/conf_socials

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Mamparas de acrílico para tu oficina o restaurante. Prepárate para la nueva normalidad.")
        meta(name="keywords", content="mamparas de acrílico, mamparas para tu restaurante, mamaparas para tu oficina, mamparas para espacios públicos, mamparas, acrílico, nueva normalidad")
        meta(name="author", content="brunoslgdo")
        meta(name="copyright", content="tolko group - 2020")
        meta(name="robots", content="index")
        meta(name="robots", content="follow")
        meta(http-equiv="cache-control", content="no-cache")
        title Mamparas de acrílico - Tolko
        link(href="css/fonts.css?=270520:1847", rel="stylesheet")
        link(href="css/styles.css?=270520:1847", rel="stylesheet")
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-167568276-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-167568276-1');

    body

        .hero-background

        include ../components/header

        .__row
            .__column.main__container

                .main__wrap.main__heading
                    p.text-alt.display-two.regular Prepara tu oficina o restaurante para la nueva normalidad con
                    p.text-alt.display-one.bold Mamparas de acrílico
                    p.text-alt.caption.light Una medida de protección de la salud ante el regreso paulatino a las actividades, es la colocación de mamparas de acrílico para separar espacios físicos de encuentro. Por ello, hemos desarrollado alternativas para nuestros clientes.
                
                .main__wrap.main__cards
                    include ../components/card 
                
                .main__wrap.main__subheading
                    p.display-one.bold.first ¡Ponles tu sello!
                    p.text.caption.light Las mamparas podrán ir lisas o llevar la identidad de la empresa en vinil (aplicaciones a personalizar, con adaptación de costos en distintas alternativas).
                
                .main__wrap.main__heading-form
                    p.title.extra-light.first Se pueden diseñar mamparas a la medida, además de las opciones genéricas
                    p.text.caption.medium Solicita tu cotización o más información:
              
                .main__wrap.main__form
                    include ../components/form
                
                .main__wrap
                    p.title.extra-light.first También producimos la señalética necesaria para tu oficina o negocio rumbo a la nueva normalidad

        include ../components/footer